<footer>
  <div class="py-12">
    <p class="text-xs text-base-500 text-balance text-center">
      NUVOLIC is a blog by <a href="https://www.arnaugomez.com" class="hover:underline">Arnau Gómez</a>
    </p>
  </div>
</footer>
