<footer>
  <div class="py-12">
    <p class="text-xs text-base-500 text-balance text-center">
      © {new Date().getFullYear()} NUVOLIC (a blog). Built with Astro and Tailwind CSS.
    </p>
  </div>
</footer>
